<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie_edge">
    <title>Mars!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <h4>Latest Mars News</h4>
        <h5>{{ mars.news_title }}</h5>
        <p>{{ mars.news_p }}</p>
    </div>

    <div class="container">
        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4>Featured Mars Image</h4>
            <img src="{{ mars.featured_image }}" class="img-responsive" style="max-width:100%; max-height: auto;" alt="Featured Mars Image">
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12">
            <h4>Mars Facts</h4>
            {{ mars.table }}
        </div>
    </div>



</body>

</html>